/* Loading fonts */
@font-face {
    font-family: "xkcd-script";
    src: url("../fonts/xkcd-script.ttf");
}
@font-face {
    font-family: "xkcd";
    src: url("../fonts/xkcd-Regular.otf");
}

/* Global Defaults */
* {
    box-sizing: border-box;
}

/* Custom Element Styles */
body {
    font-family: 'xkcd-script', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#main_content .jumbotron-fluid {
    max-height: calc(var(--vh, 1vh) * 100 - 131px);
    overflow: scroll;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.jumbotron-fluid::-webkit-scrollbar {
    display: none;
}

#backBtn {
    width: 45px;
    height: 45px;
    background: url("../assets/back_small.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}
#backBtn:hover {
    width: 45px;
    height: 45px;
    background: url("../assets/back_small_colour.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}

#randomBtn {
    width: 45px;
    height: 45px;
    background: url("../assets/r3_small.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}
#randomBtn:hover {
    width: 45px;
    height: 45px;
    background: url("../assets/r3_small.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}

#favBtn {
    width: 45px;
    height: 45px;
    background: url("../assets/favorite_off_small.png");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}

#forwdBtn {
    width: 45px;
    height: 45px;
    background: url("../assets/next_small.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}
#forwdBtn:hover {
    width: 45px;
    height: 45px;
    background: url("../assets/next_small_colour.png");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}

#shareBtn {
    width: 45px;
    height: 45px;
    /* background-image: url("https://img.icons8.com/ios-glyphs/50/343a40/share-rounded.png"); */
    background: url("../assets/download_btn.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}
#shareBtn:hover {
    width: 45px;
    height: 45px;
    /* background: url("https://img.icons8.com/ios-glyphs/50/28a745/share-rounded.png"); */
    background: url("../assets/download_btn_colour.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
    margin: 15px;
    border-radius: 23px;
}

.border-0:focus {
    border-radius: 0px;
    outline: none;
}

#bottomNav {
    min-height: 75px;
    position: absolute;
}

@media (min-width: 576px) {
    .form-inline .input-group {
        width: 100%;
    }
}

/* Responsive Design */

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: #232323;
        color: #f8f9fa;
    }
    .lead, .small, .h3, .display-4, .figure-caption {
        color: #f8f9fa;     
        opacity: 75%;
    }
    .my-4 {
        background-color: #6c757d;
    }
    .navbar .navbar-brand, .navbar .nav-item .nav-link, #nav-link-home {
        color: #f8f9fa;
        opacity: 87%;
    }
    .navbar .navbar-brand:hover, .navbar .nav-item .nav-link:hover, #nav-link-home:hover {
        color: #20c997;
    }
    #toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248, 249, 250, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #toggler-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32, 201, 151, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #search-toggler-icon {
        background-image: url("https://img.icons8.com/ios/50/f8f9fa/search.png");
        background-repeat: no-repeat;
    }
    #search-toggler-icon:hover {
        background-image: url("https://img.icons8.com/ios/50/20c997/search.png");
        background-repeat: no-repeat;
    }
    #shareBtn {
        width: 45px;
        height: 45px;
        /* background: url("https://img.icons8.com/ios-glyphs/50/f8f9fa/share-rounded.png"); */
        background: url("../assets/download_btn_dark.png");
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center;
        margin: 15px;
    }
    #shareBtn:hover {
        width: 45px;
        height: 45px;
        /* background: url("https://img.icons8.com/ios-glyphs/50/20c997/share-rounded.png"); */
        background: url("../assets/download_btn_colour.png")
        background-repeat: no-repeat;
        background-size: 25px 25px;
        background-position: center;
        margin: 15px;
    }
    
    body {
        background-color: #000;
    }
    #backBtn {
        width: 45px;
        height: 45px;
        background: url("../assets/back_small_dark.png");
        background-repeat: no-repeat;
        background-size: 22px 22px;
        background-position: center;
        margin: 15px;
    }

    #randomBtn {
        width: 45px;
        height: 45px;
        background: url("../assets/r3_small.png");
        background-repeat: no-repeat;
        background-size: 32px 32px;
        background-position: center;
        margin: 15px;
    }
    
    #favBtn {
        width: 45px;
        height: 45px;
        background: url("../assets/favorite_off_small.png");
        background-repeat: no-repeat;
        background-size: 32px 32px;
        background-position: center;
        margin: 15px;
    }
    
    #forwdBtn {
        width: 45px;
        height: 45px;
        background: url("../assets/next_dark.png");
        background-repeat: no-repeat;
        background-size: 22px 22px;
        background-position: center;
        margin: 15px;
    }
}

@media (prefers-color-scheme: light) {
    .navbar {
        background-color: #f8f9fa;
        color: #343a40;
    }
    .navbar .navbar-brand, .navbar .nav-item .nav-link, #nav-link-home {
        color: #343a40;
    }
    .navbar .navbar-brand:hover, .navbar .nav-item .nav-link:hover, #nav-link-home:hover  {
        color: #28a745;
    }
    #toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(52, 58, 64, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #toggler-icon:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(40, 167, 69, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #search-toggler-icon {
        background-image: url("https://img.icons8.com/ios/50/343a40/search.png");
        background-repeat: no-repeat;
    }
    
    #search-toggler-icon:hover {
        background-image: url("https://img.icons8.com/ios/50/28a745/search.png");
        background-repeat: no-repeat;
    }
}